.main-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.sidenav-container {
  flex: 1;
  height: 100%;
}

mat-sidenav {
  width: 180px;
  border-radius: 0;
}

.main-content {
  padding: 20px;
}
